# Python virtual environment
.venv/
NIDS/.venv/
# Project runtime
runtime/

# Logs
logs/
*.log

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Environment/secrets
.env